.button1 {
  padding: 2rem;
  width: 200px;
  background-color: black;
  color: white;
  transition-property: width background-color color;
  transition-duration: 2s;
  text-wrap: nowrap; // For No text Wrap
  display: flex; // Enables Flexbox
  justify-content: center; //  Horizontal centering
  align-items: center; // Vertical centering
  cursor: pointer;

  &:hover {
    width: 100px;
    background-color: white;
    color: black;
  }
}
