.button4 {
  padding: 2rem;
  width: 200px;
  background-color: black;
  color: white;
  text-wrap: nowrap; // For No text Wrap
  display: flex; // Enables Flexbox
  justify-content: center; //  Horizontal centering
  align-items: center; // Vertical centering
  cursor: pointer;
  transition: background-color 2s ease 0s, color 2s ease 2s,
    border-radius 2s ease 4s;
  transition-duration: 2s;

  &:hover {
    background-color: white;
    color: black;
    border-radius: 4rem;
  }
}
