.button3 {
  padding: 2rem;
  width: 200px;
  background-color: green;
  color: white;
  transition-property: translate();
  transition-timing-function: ease;
  transition-duration: 2s;
  transition-delay: 2s;
  text-wrap: nowrap; // For No text Wrap
  display: flex; // Enables Flexbox
  justify-content: center; //  Horizontal centering
  align-items: center; // Vertical centering
  cursor: pointer;

  &:hover {
    transform: translate(900px, 0);
  }
}
