.button19-container {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.button19 {
  padding: 20px 50px;
  font-family: monospace;
  background-color: white;
  border: 0.25rem solid black;
  font-size: 45px;
  position: relative;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    background-color: tomato;
    transition: all 0.5s;
    border-radius: 0 0 200px 200px;
  }
  &:hover::before {
    height: 300%;
  }
  &:hover {
    color: white;
  }
}

// .button19-container {
//   display: inline-block;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 200px;
// }
// .button19 {
//   padding: 20px 50px;
//   font-family: sans-serif;
//   border: 0.25rem solid black;
//   font-size: 45px;
//   position: relative;
//   cursor: pointer;
//   overflow: hidden;
//   &::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 110%;
//     height: 100%;
//     background-color: yellow;
//     z-index: -1;
//     transform-origin: bottom left;
//     transform: rotate(-90deg);
//     transition: transform 1s;
//   }
//   &:hover::before {
//     transform: rotate(0deg);
//   }
// }
