.button26-container {
  height: 400px;
  display: flex;
  align-items: center;
  background-color: var(--background-dark);
  justify-content: center;
  z-index: -20;
}
.button26 {
  position: relative;
  padding: 20px 50px;
  font-size: 45px;
  font-family: monospace;
  cursor: pointer;
  transition: all 0.35s;
  color: white;
  background-color: orange;
  z-index: 20;
  &::before {
    content: "";
    position: absolute;
    top: -13%;
    left: -5%;
    height: 40%;
    width: 20%;
    // background-color: orange;
    border-left: 5px solid orange;
    border-top: 5px solid orange;
    border-radius: 10px;
    z-index: -1;
    transition: all 1s;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -13%;
    right: -5%;
    height: 40%;
    width: 20%;
    // background-color: orange;
    border-right: 5px solid orange;
    border-bottom: 5px solid orange;
    border-radius: 10px;
    z-index: -1;
    transition: all 1s;
  }
  &:hover::before,
  &:hover::after {
    height: 108%;
    width: 108%;
  }
}
