.button13-container {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.button13 {
  padding: 20px 50px;
  font-family: sans-serif;
  border: 0.25rem solid black;
  font-size: 45px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: black;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 110%;
    height: 100%;
    background-color: gray;
    z-index: -1;
    transform-origin: bottom left;
    transition: transform 1s ease 0s;
    transform: translateX(-100%);
  }
  &:hover::before {
    transform: translateX(0);
  }
  &:hover {
    transition: color 1s;
    color: white;
  }
}
